@charset "UTF-8";
/* 모바일용 스타일지정 시작 */
/* 헤더 영역 시작*/
.header {
height:80px;
position:relative;/*상대적인 위치, 반대는 absolute 절대적인 위치=fixed붙박이*/
padding:0px 2%;/*안쪽여백: padding, 바깥여백: margin. 18px=상하여백, 5%=좌우여백*/
/*padding:18px 5% 18px 5%; 의 약자, 시계방향으로 진행되며 위쪽부터 시작 
만약 padding:18px 5% 18px; 3가지 방법 모두 동일.=18px(상,하 여백) 5%(좌우 여백)
*/
}
.header .logo{
float:left;/*float: 떠다니는 영역, 역할: 세로배치를 가로배치로 변경 처리에 사용됨*/
}
.header .logo a {
font-size:26px;
color:#47d4c9;
font-weight:normal;/*글꼴두께*/
text-indent:-9999%;/*들여쓰기*/
display:block;
height:80px;
background:url(/resources/sample/img/rocket.png) no-repeat;/*배경이미지 기본이 반복repeat*/
background-size:60%;
background-position:0px center;/*배경위치는 0px(가로) center(세로)*/
}
.header .menu-toggle-btn { /*toggle:똑딱이버튼*/
float:right;
width:20px;
margin-top:30px;
cursor:pointer;/*마우스커서 모양을 손모양으로 변경*/
}
.menu-toggle-btn span {
display:block; 
width:100%; /*여기서100% .menu-toggle-btn영역의 가로20px까지가 100%*/
height:2px; background-color:#47d4c9;
margin-bottom:5px;
}
.header .gnb {
display:none;/*페이지로딩할 때 숨겨야하기 떄문에 none으로 처리*/
position:absolute;/*gnb영역의 위치를 절대위치로 지정, 위치정보가 필요*/
top:80px;
left:0px;
width:100%;
background:#47d4c9;
z-index:21;/*화면에서 콘텐츠가 겹치는 경우, z인덱스*/
}
.header .gnb li {
/*solid:실선*/
border-bottom:1px solid #e0e0e0;
}
/*가상선택자 : 사용*/
.header .gnb li:last-child{
border-bottom:0px solid #e0e0e0
}
.header .gnb li a {
display:block;/*1줄 전체 자리를 차지하는 영역, inline-block 자리를 차지하지만, 본인크기만큼*/
padding:14px 0px 14px 5%;
font-size:14px;
color:#ffffff;
}
/* 헤더 영역 끝*/
/* 본문 섹션 슬라이드 영역 시작*/
#wrap .slider img {width:100%;} /*Cascade Style Sheet 특징 계단형 스타일지정*/
/* 본문 섹션 슬라이드 영역 끝*/
/* 푸터영역 시작*/
.footer {
margin-top: 30px;
}
.footer p {
margin: 21px 0px;
color:#47d4c9;
text-align:center;
font-weight:bold;
}
/* 푸터영역 끝*/

/* we are 페이지 영역 시작*/
.weare-header {
margin-top:30px;
text-align: center;
}
.section-title {
margin-bottom:30px;
font-size:24px;
color:#404040;
font-weight:normal;
letter spacing:5px;/*글자사이 간격추가*/
}
.weare-header p{
color:#616161;
line-height:1.9;/*줄간격 단위 1.9 글자크기의 1.9배수*/
font-size:14px;
}
.weare-body {
margin-top:68px;
}
.weare-body li {
text-align:center;
margin-top:50px;/*게시물사이 간격 li태그 4개 사이간격주기*/
}
.weare-body li img {
height:220px;/*이미지는 가로든 세로든 1쪽 크기를 지정하면, 비율을 유지하면서 크기가 조정*/
}
.weare-body li h2 {
margin: 20px; 0px;
font-size:20px;
font-weight:normal;
color:#47d4c9;
}
.weare-body li p {font-size:14px;}
/* we are 페이지 영역 끝*/

/*work 영역 시작*/
.work-section {
text-align:center;
margin-top:30px;
}
.work-section li img {width:100%;}
.work-section li a {/*실제 a태그 영역*/
/*a 태그가 자리를 차지하지 않는 영역이고, block을 이용해서 자리를 차지하는 영역으로 변경*/
display:block;
width:100%;
height:100%;
position:relative;/*a태그에서 위치를 상대 위치로 지정*/
}
/*마우스를 롤오버했을 때 나오는 before 가상요소 영역*/
.work-section li a::before {
display:block;
background:#47d4c9;
/*절대값 위치는 위 a태그에서 지정한 relative 상대위체에 한정해서 절대위치로 지정됨*/
position:absolute;
width:100%;
height:100%;
top:0px;
left:0px;
content:"";
opacity:0;/*투명도 x%로 지정*/
}
.work-section li a:hover::before {
opacity:0.4;
}
.work-section .info {
display:block;/*화면에서 자리를 차지하기 위해 지정*/
position:absolute;
left:10px;
color:#ffffff;
text-align:left;
opacity:0;
transition:all 0.3s;/*화면전환 옵션 transform 모양변화에 대한 화면전환옵션, width, height등 all..*/
}
.work-section li a:hover .info {
opacity:1;
transform:translateY(20px);/*모양이 변화할때 Y세로축으로 20px 이동합니다.*/
}
.info h2 {
font-size:26px;
font-weight:normal;
}
.info p {
font-size:14px;
padding: 10px 0px;
}
/*work 영역 끝*/

/*blog 영역 시작*/
.blog-section {
margin-top:30px;
}
.blog-section h1 {
text-align:center;
font-size:24px;
font-weight:normal;
color:#404040;
}
.blog-section .container {
width:90%;
margin:0px auto;
}
/*현재 영역을 가운데 정렬 시 margin: auto쓰면 좌우로 5%가 잡힌다*/
.blog-section li {
margin-top:30px;
}
.blog-section li img {
width:100%;
}
.blog-section li time {
display:block;
margin:10px 0px;
font-size:12px;
color:#888;
}
.blog-section li h2 {
color:#424242;
font-weight:normal;
line-height:1.6;/*줄간격단위는 현재 글자크기의 배수*/
}
/*reset.css에서 hr태그를 display:none;적용했기 때문에, 특별히 .blog영역에서만 hr 적용*/
.blog-section hr {display:block; height:1px; background:#47d4c9;}
/*blog 영역 끝*/

/* 모바일용 스타일지정 끝 */